<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>FrequencyCounterHashing.java</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
body {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
pre {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
table {color: #000000; background-color: #e9e8e2; font-family: Fira Code Retina}
.ST5 { font-family: Fira Code Retina; font-weight: bold; font-style: italic}
.ST4 {color: #009900;  font-family: Fira Code Retina; font-style: italic}
.ST6 { font-family: Fira Code Retina; font-style: italic}
.ST2 {color: #969696;  font-family: Fira Code Retina; font-weight: bold}
.ST3 { font-family: Fira Code Retina; font-weight: bold}
.ST0 {color: #969696; }
.guarded {}
.ST1 {color: #0000e6; }
.ST8 {color: #ce7b00;  font-family: Fira Code Retina; font-weight: bold}
.ST7 {color: #ce7b00; }
-->
</style>
</head>
<body>
<table width="100%"><tr><td align="center">FrequencyCounterHashing.java</td></tr></table>
<pre>
  1 <span class="keyword-directive">package</span> hashing;
  2
  3 <span class="keyword-directive">import</span> java.io.File;
  4 <span class="keyword-directive">import</span> java.util.HashMap;
  5 <span class="keyword-directive">import</span> java.util.Map;
  6 <span class="keyword-directive">import</span> java.util.Scanner;
  7 <span class="keyword-directive">import</span> java.util.TreeSet;
  8
  9 <span class="comment">/**</span>
 10 <span class="comment"> *</span>
 11 <span class="comment"> * </span><span class="ST0">@author</span> <span class="comment">jkarn</span>
 12  <span class="comment">*/</span>
 13 <span class="keyword-directive">public</span> <span class="keyword-directive">class</span> FrequencyCounterHashing {
 14     <span class="keyword-directive">static</span> Map&lt;String, Integer&gt; <span class="ST1">frequencies</span> = <span class="keyword-directive">new</span> HashMap&lt;String, Integer&gt;();
 15     <span class="keyword-directive">static</span> trees.BinaryTree&lt;Integer, String&gt; <span class="ST1">binarySearchTree</span> = <span class="keyword-directive">new</span> trees.BinaryTree&lt;&gt;();
 16     <span class="keyword-directive">static</span> Scanner <span class="ST1">input</span> = <span class="keyword-directive">new</span> Scanner(System.<span class="ST1">in</span>);
 17
 18     <span class="keyword-directive">public</span> <span class="keyword-directive">static</span> <span class="keyword-directive">void</span> <span class="ST1">main</span>(String[] args) <span class="keyword-directive">throws</span> Exception {
 19         <span class="ST1">establishFrequencyCounts</span>();
 20         <span class="ST1">dump</span>();
 21         <span class="ST1">interpret</span>();
 22     }
 23     <span class="keyword-directive">public</span> <span class="keyword-directive">static</span> <span class="keyword-directive">void</span> <span class="ST1">establishFrequencyCounts</span>() {
 24         System.<span class="ST1">out</span>.println(<span class="character">&quot;</span><span class="character">&gt;&gt;&gt; Filename? </span><span class="character">&quot;</span>);
 25         String filename = <span class="ST1">input</span>.nextLine();
 26
 27         <span class="keyword-directive">try</span> {
 28             Scanner fileInput = <span class="keyword-directive">new</span> Scanner(<span class="keyword-directive">new</span> File(filename));
 29             fileInput.forEachRemaining((key) -&gt; {
 30                 <span class="keyword-directive">if</span> (<span class="ST1">frequencies</span>.containsKey(key))
 31                     <span class="ST1">frequencies</span>.put(key, <span class="ST1">frequencies</span>.get(key) + 1);
 32                 <span class="keyword-directive">else</span>
 33                     <span class="ST1">frequencies</span>.put(key, 1);
 34             });
 35             <span class="ST1">frequencies</span>.forEach((k, v) -&gt; {
 36                 <span class="keyword-directive">try</span> {
 37                     <span class="ST1">binarySearchTree</span>.addST(v, k);
 38                 } <span class="keyword-directive">catch</span>(Exception e) {}
 39             });
 40         } <span class="keyword-directive">catch</span> (Exception e) {
 41             System.<span class="ST1">out</span>.println(<span class="character">&quot;</span><span class="character">Error :(</span><span class="character">&quot;</span>);
 42             e.printStackTrace();
 43         }
 44     }
 45
 46     <span class="keyword-directive">public</span> <span class="keyword-directive">static</span> <span class="keyword-directive">void</span> <span class="ST1">dump</span>() {
 47         <span class="ST1">frequencies</span>.forEach((k, v) -&gt; {
 48             System.<span class="ST1">out</span>.println(k + <span class="character">&quot;</span><span class="character"> -&gt; </span><span class="character">&quot;</span> + v);
 49         });
 50         <span class="ST1">binarySearchTree</span>.inorder();
 51     }
 52
 53     <span class="keyword-directive">public</span> <span class="keyword-directive">static</span> <span class="keyword-directive">void</span> <span class="ST1">interpret</span>() {
 54         <span class="keyword-directive">for</span> (;;) {
 55             System.<span class="ST1">out</span>.print(<span class="character">&quot;</span><span class="character">&gt;&gt;&gt; </span><span class="character">&quot;</span>);
 56             String line = <span class="ST1">input</span>.next().toLowerCase();
 57             <span class="keyword-directive">if</span> (line.equals(<span class="character">&quot;</span><span class="character">exit</span><span class="character">&quot;</span>)) {
 58                 System.<span class="ST1">out</span>.println(<span class="character">&quot;</span><span class="character">Goodbye!</span><span class="ST2">\n</span><span class="character">&quot;</span>);
 59                 <span class="keyword-directive">return</span>;
 60             } <span class="keyword-directive">else</span> <span class="keyword-directive">if</span> (line.equals(<span class="character">&quot;</span><span class="character">print</span><span class="character">&quot;</span>)) {
 61                 <span class="ST1">frequencies</span>.forEach((k, v) -&gt; {
 62                     System.<span class="ST1">out</span>.println(k + <span class="character">&quot;</span><span class="character"> -&gt; </span><span class="character">&quot;</span> + v);
 63                 });
 64             } <span class="keyword-directive">else</span> <span class="keyword-directive">if</span> (line.equals(<span class="character">&quot;</span><span class="character">count</span><span class="character">&quot;</span>)) {
 65                 System.<span class="ST1">out</span>.print(<span class="character">&quot;</span><span class="character">&gt;&gt;&gt; Which word? </span><span class="character">&quot;</span>);
 66                 String key = <span class="ST1">input</span>.next();
 67                 System.<span class="ST1">out</span>.println(key + <span class="character">&quot;</span><span class="character"> -&gt; </span><span class="character">&quot;</span> + <span class="ST1">frequencies</span>.get(key));
 68             } <span class="keyword-directive">else</span> {
 69                 System.<span class="ST1">out</span>.println(<span class="character">&quot;</span><span class="character">&gt;&gt;&gt; Unrecognized Command</span><span class="character">&quot;</span>);
 70
 71             }
 72         }
 73     }
 74 }
 75
</pre></body>
</html>
