<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>GUI4.java</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
@font-face {
    font-family: "Fira Code Retina";
    src: url("http://joshk.in/fonts/FiraCode-Retina.ttf") format("truetype");
}
*.customfont {
    font-family: "FiraCode", Verdana, Tahoma;
}
<!--
body {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
pre {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
table {color: #000000; background-color: #e9e8e2; font-family: Fira Code Retina}
.ST1 {font-family: Fira Code Retina; font-weight: bold}
.ST0 {font-family: Fira Code Retina; font-style: italic}
.comment {color: #969696}
.ST3 {color: #009900; font-family: Fira Code Retina; font-style: italic}
.keyword-directive {color: #0000e6}
.character {color: #ce7b00}
.ST2 {color: #009900}
-->
</style><link rel="stylesheet" href="http://joshk.in/static/css/code_style.css"></style>

</head>
<body>
<table width="100%"><tr><td align="center">C:\Users\jkarn\Documents\NetBeansProjects\CS2F16\src\gui\GUI4.java</td></tr></table>
<pre>
 1 <span class="comment">/**</span>
 2 <span class="comment"> * </span><span class="comment">This</span> <span class="comment">program</span> <span class="comment">is</span> <span class="comment">the</span> <span class="comment">same</span> <span class="comment">as</span> <span class="comment">GUI3</span><span class="comment">, </span><span class="comment">except</span> <span class="comment">it</span> <span class="comment">uses</span> <span class="comment">a</span> <span class="comment">different</span> <span class="comment">layout</span><span class="comment">: </span><span class="comment">the</span>
 3 <span class="comment"> * </span><span class="comment">BorderLayout</span>
 4  <span class="comment">*/</span>
 5
 6 <span class="keyword-directive">package</span> gui;
 7
 8 <span class="keyword-directive">import</span> java.awt.BorderLayout;
 9 <span class="keyword-directive">import</span> javax.swing.JFrame;
10 <span class="keyword-directive">import</span> javax.swing.SwingUtilities;
11 <span class="keyword-directive">import</span> javax.swing.JButton;
12 <span class="keyword-directive">import</span> javax.swing.JLabel;
13 <span class="keyword-directive">import</span> java.awt.FlowLayout;
14 <span class="keyword-directive">import</span> java.awt.Container;
15 <span class="keyword-directive">import</span> javax.swing.SwingConstants;
16
17 <span class="keyword-directive">public</span> <span class="keyword-directive">class</span> GUI4 {
18     <span class="keyword-directive">public</span> <span class="keyword-directive">static</span> <span class="keyword-directive">void</span> <span class="ST0">main</span>(String args[]) {
19         SwingUtilities.<span class="ST0">invokeLater</span>(<span class="keyword-directive">new</span> GUIThread());
20     }
21
22     <span class="keyword-directive">public</span> <span class="keyword-directive">static</span> <span class="keyword-directive">class</span> <span class="ST0">GUIThread</span> <span class="keyword-directive">implements</span> Runnable {
23         <span class="keyword-directive">public</span> <span class="ST1">GUIThread</span>() {}
24         @Override
25         <span class="keyword-directive">public</span> <span class="keyword-directive">void</span> run() {
26             GUI4 gui = <span class="keyword-directive">new</span> GUI4();
27         }
28     }
29     <span class="keyword-directive">public</span> <span class="ST1">GUI4</span>() {
30         KFrame frame = <span class="keyword-directive">new</span> KFrame(<span class="character">&quot;</span><span class="character">GUI 4</span><span class="character">&quot;</span>);
31     }
32
33     <span class="keyword-directive">private</span> <span class="keyword-directive">class</span> KFrame <span class="keyword-directive">extends</span> JFrame {
34
35         <span class="keyword-directive">private</span> JButton <span class="ST2">blueButton</span>;
36         <span class="keyword-directive">private</span> JButton <span class="ST2">redButton</span>;
37         <span class="keyword-directive">private</span> JButton <span class="ST2">greenButton</span>;
38         <span class="keyword-directive">private</span> JButton <span class="ST2">yellowButton</span>;
39         <span class="keyword-directive">private</span> JLabel <span class="ST2">colorLabel</span>;
40
41         <span class="keyword-directive">public</span> <span class="ST1">KFrame</span>(String title) {
42             <span class="keyword-directive">super</span>(title);
43             setSize(500, 300);
44             setDefaultCloseOperation(JFrame.<span class="ST3">EXIT_ON_CLOSE</span>);
45             addComponents(getContentPane());
46             setVisible(<span class="keyword-directive">true</span>);
47         }
48
49         <span class="keyword-directive">private</span> <span class="keyword-directive">void</span> addComponents(Container contentPane) {
50             <span class="ST2">blueButton</span> = <span class="keyword-directive">new</span> JButton(<span class="character">&quot;</span><span class="character">Blue</span><span class="character">&quot;</span>);
51             <span class="ST2">redButton</span> = <span class="keyword-directive">new</span> JButton(<span class="character">&quot;</span><span class="character">Red</span><span class="character">&quot;</span>);
52             <span class="ST2">greenButton</span> = <span class="keyword-directive">new</span> JButton(<span class="character">&quot;</span><span class="character">Green</span><span class="character">&quot;</span>);
53             <span class="ST2">yellowButton</span> = <span class="keyword-directive">new</span> JButton(<span class="character">&quot;</span><span class="character">Yellow</span><span class="character">&quot;</span>);
54             <span class="ST2">colorLabel</span> = <span class="keyword-directive">new</span> JLabel(<span class="character">&quot;</span><span class="character">Press a button..</span><span class="character">&quot;</span>, SwingConstants.<span class="ST3">CENTER</span>);
55             contentPane.setLayout(<span class="keyword-directive">new</span> BorderLayout());
56             contentPane.add(<span class="ST2">blueButton</span>, BorderLayout.<span class="ST3">NORTH</span>);
57             contentPane.add(<span class="ST2">redButton</span>, BorderLayout.<span class="ST3">SOUTH</span>);
58             contentPane.add(<span class="ST2">greenButton</span>, BorderLayout.<span class="ST3">EAST</span>);
59             contentPane.add(<span class="ST2">yellowButton</span>, BorderLayout.<span class="ST3">WEST</span>);
60             contentPane.add(<span class="ST2">colorLabel</span>, BorderLayout.<span class="ST3">CENTER</span>);
61         }
62
63     }
64 }
</pre></body>
</html>
