<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>KFrame8P.java</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
body {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
pre {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
table {color: #000000; background-color: #e9e8e2; font-family: Fira Code Retina}
.ST4 {font-family: Fira Code Retina; font-weight: bold; font-style: italic}
.ST3 {color: #009900; font-family: Fira Code Retina; font-style: italic}
.ST5 {font-family: Fira Code Retina; font-style: italic}
.ST0 {color: #969696; font-family: Fira Code Retina; font-weight: bold}
.ST1 {font-family: Fira Code Retina; font-weight: bold}
.comment {color: #969696}
.ST2 {color: #009900}
.literal {color: #0000e6}
.ST6 {color: #ce7b00; font-family: Fira Code Retina; font-weight: bold}
.string {color: #ce7b00}
-->
</style>
</head>
<body>
<table width="100%"><tr><td align="center">/home/wua/Documents/academic/CS2F16/src/frames/KFrame8P.java</td></tr></table>
<pre>
 1 <span class="literal">package</span> frames;
 2 
 3 <span class="literal">import</span> java.awt.BorderLayout;
 4 <span class="literal">import</span> java.awt.Container;
 5 <span class="literal">import</span> java.awt.event.ActionEvent;
 6 <span class="literal">import</span> java.awt.event.ActionListener;
 7 <span class="literal">import</span> java.util.stream.Stream;
 8 <span class="literal">import</span> javax.swing.JButton;
 9 <span class="literal">import</span> javax.swing.JFrame;
10 <span class="literal">import</span> javax.swing.JPanel;
11 <span class="literal">import</span> javax.swing.JTextArea;
12 <span class="literal">import</span> javax.swing.JTextField;
13 
14 <span class="comment">/**</span>
15 <span class="comment"> *</span>
16 <span class="comment"> * </span><span class="ST0">@author</span> <span class="comment">Joshua</span> <span class="comment">Karns</span>
17  <span class="comment">*/</span>
18 <span class="literal">public</span> <span class="literal">class</span> <span class="ST1">KFrame8P</span> <span class="literal">extends</span> JFrame <span class="literal">implements</span> ActionListener {
19     JButton     <span class="ST2">pointB</span>,
20                 <span class="ST2">lineB</span>,
21                 <span class="ST2">wordB</span>,
22                 <span class="ST2">quoteB</span>,
23                 <span class="ST2">colorB</span>,
24                 <span class="ST2">clearB</span>;
25     JTextArea   <span class="ST2">output</span>;
26     JTextField  <span class="ST2">input</span>;
27     
28     <span class="literal">static</span> String[] <span class="ST3">validCommands</span> = {<span class="string">&quot;</span><span class="string">POINT</span><span class="string">&quot;</span>, <span class="string">&quot;</span><span class="string">LINE</span><span class="string">&quot;</span>, <span class="string">&quot;</span><span class="string">WORD</span><span class="string">&quot;</span>, <span class="string">&quot;</span><span class="string">QUOTE</span><span class="string">&quot;</span>, <span class="string">&quot;</span><span class="string">COLOR</span><span class="string">&quot;</span>, <span class="string">&quot;</span><span class="string">CLEAR</span><span class="string">&quot;</span>};
29 
30     <span class="literal">static</span> <span class="literal">boolean</span> <span class="ST4">isValidCommand</span>(String command) { 
31         <span class="literal">return</span> Stream.<span class="ST5">of</span>(<span class="ST3">validCommands</span>).anyMatch(x -&gt; x.equalsIgnoreCase(command)); 
32     }
33     
34     <span class="literal">public</span> <span class="ST1">KFrame8P</span>(String title) {
35         <span class="literal">super</span>(title);
36         <span class="literal">this</span>.setSize(600, 300);
37         <span class="literal">this</span>.setDefaultCloseOperation(JFrame.<span class="ST3">EXIT_ON_CLOSE</span>);
38         initializerComponents(<span class="literal">this</span>.getContentPane());
39         addListeners();
40         setVisible(<span class="literal">true</span>);
41     }
42 
43     <span class="literal">public</span> <span class="literal">void</span> <span class="ST1">initializerComponents</span>(Container contentPane) {
44         <span class="ST2">pointB</span>  = <span class="literal">new</span> JButton(<span class="string">&quot;</span><span class="string">Point</span><span class="string">&quot;</span>);
45         <span class="ST2">lineB</span>   = <span class="literal">new</span> JButton(<span class="string">&quot;</span><span class="string">Line</span><span class="string">&quot;</span>);
46         <span class="ST2">wordB</span>   = <span class="literal">new</span> JButton(<span class="string">&quot;</span><span class="string">Word</span><span class="string">&quot;</span>);
47         <span class="ST2">quoteB</span>  = <span class="literal">new</span> JButton(<span class="string">&quot;</span><span class="string">Quote</span><span class="string">&quot;</span>);
48         <span class="ST2">colorB</span>  = <span class="literal">new</span> JButton(<span class="string">&quot;</span><span class="string">Color</span><span class="string">&quot;</span>);
49         <span class="ST2">clearB</span>  = <span class="literal">new</span> JButton(<span class="string">&quot;</span><span class="string">Clear</span><span class="string">&quot;</span>);
50         <span class="ST2">output</span>  = <span class="literal">new</span> JTextArea();
51         <span class="ST2">input</span>   = <span class="literal">new</span> JTextField();
52         
53         JPanel buttonContainer = <span class="literal">new</span> JPanel();
54         buttonContainer.add(<span class="ST2">pointB</span>);
55         buttonContainer.add(<span class="ST2">lineB</span>);
56         buttonContainer.add(<span class="ST2">wordB</span>);
57         buttonContainer.add(<span class="ST2">quoteB</span>);
58         buttonContainer.add(<span class="ST2">colorB</span>);
59         buttonContainer.add(<span class="ST2">clearB</span>);
60         
61         contentPane.setLayout(<span class="literal">new</span> BorderLayout());
62         contentPane.add(<span class="ST2">output</span>, BorderLayout.<span class="ST3">CENTER</span>);
63         contentPane.add(<span class="ST2">input</span>, BorderLayout.<span class="ST3">SOUTH</span>);
64         contentPane.add(buttonContainer, BorderLayout.<span class="ST3">NORTH</span>);
65     }
66     
67     <span class="literal">private</span> <span class="literal">void</span> <span class="ST1">addListeners</span>() {
68         <span class="ST2">pointB</span>. addActionListener(<span class="literal">this</span>);
69         <span class="ST2">lineB</span>.  addActionListener(<span class="literal">this</span>);
70         <span class="ST2">wordB</span>.  addActionListener(<span class="literal">this</span>);
71         <span class="ST2">quoteB</span>. addActionListener(<span class="literal">this</span>);
72         <span class="ST2">colorB</span>. addActionListener(<span class="literal">this</span>);
73         <span class="ST2">clearB</span>. addActionListener(<span class="literal">this</span>);
74         <span class="ST2">input</span>.  addActionListener(<span class="literal">this</span>);
75     }
76     
77     <span class="literal">public</span> <span class="literal">void</span> <span class="ST1">actionPerformed</span>(ActionEvent event) {
78         String command = event.getActionCommand().toUpperCase();
79         <span class="literal">if</span> (event.getSource() == <span class="ST2">input</span>) {
80             <span class="ST2">input</span>.setText(<span class="string">&quot;&quot;</span>);
81         }
82         <span class="literal">if</span> (command.equals(<span class="string">&quot;</span><span class="string">CLEAR</span><span class="string">&quot;</span>)) {
83             <span class="ST2">output</span>.setText(<span class="string">&quot;&quot;</span>);
84         } <span class="literal">else</span> <span class="literal">if</span> (<span class="ST5">isValidCommand</span>(command)) {
85             <span class="ST2">output</span>.append(command + <span class="string">&quot;</span><span class="ST6">\n</span><span class="string">&quot;</span>);
86         }
87     }
88 
89 
90 }
91 
</pre></body>
</html>
