<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Random.java</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
body {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
pre {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
table {color: #000000; background-color: #e9e8e2; font-family: Fira Code Retina}
.ST0 {font-family: Fira Code Retina; font-style: italic}
.keyword-directive {color: #0000e6}
-->
</style>
</head>
<body>
<table width="100%"><tr><td align="center">C:\Users\jkarn\Documents\NetBeansProjects\CS2F16\src\utilities\Random.java</td></tr></table>
<pre>
 1 <span class="keyword-directive">package</span> utilities;
 2 
 3 <span class="keyword-directive">import</span> java.awt.Color;
 4 
 5 <span class="keyword-directive">public</span> <span class="keyword-directive">class</span> Random {
 6     
 7     <span class="keyword-directive">static</span> <span class="keyword-directive">public</span> Color <span class="ST0">color</span>() {
 8         <span class="keyword-directive">return</span> <span class="keyword-directive">new</span> Color((<span class="keyword-directive">int</span>)(Math.<span class="ST0">random</span>() *  2147483647));
 9     }
10 }
11 
</pre></body>
</html>
