<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>TriangleADT.java</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
body {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
pre {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
table {color: #000000; background-color: #e9e8e2; font-family: Fira Code Retina}
.ST0 {color: #969696; font-family: Fira Code Retina; font-weight: bold}
.ST1 {font-family: Fira Code Retina; font-weight: bold}
.comment {color: #969696}
.literal {color: #0000e6}
-->
</style>
</head>
<body>
<table width="100%"><tr><td align="center">/home/wua/Documents/academic/CS2F16/src/someshapes/TriangleADT.java</td></tr></table>
<pre>
 1 <span class="comment">/*</span>
 2 <span class="comment"> * To change this license header, choose License Headers in Project Properties.</span>
 3 <span class="comment"> * To change this template file, choose Tools | Templates</span>
 4 <span class="comment"> * and open the template in the editor.</span>
 5 <span class="comment"> */</span>
 6 <span class="literal">package</span> someshapes;
 7 
 8 <span class="comment">/**</span>
 9 <span class="comment"> *</span>
10 <span class="comment"> * </span><span class="ST0">@author</span> <span class="comment">wua</span>
11  <span class="comment">*/</span>
12 <span class="literal">public</span> <span class="literal">interface</span> <span class="ST1">TriangleADT</span> {
13     <span class="literal">public</span> <span class="literal">double</span> <span class="ST1">perimeter</span>();
14     <span class="literal">public</span> <span class="literal">double</span> <span class="ST1">area</span>();
15     <span class="literal">public</span> String <span class="ST1">toString</span>();
16 }
17 
</pre></body>
</html>
