<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Triangle.java</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
body {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
pre {color: #000000; background-color: #ffffff; font-family: Fira Code Retina}
table {color: #000000; background-color: #e9e8e2; font-family: Fira Code Retina}
.ST3 {font-family: Fira Code Retina; font-style: italic}
.ST0 {color: #969696; font-family: Fira Code Retina; font-weight: bold}
.ST1 {font-family: Fira Code Retina; font-weight: bold}
.comment {color: #969696}
.ST2 {color: #009900}
.literal {color: #0000e6}
.string {color: #ce7b00}
-->
</style>
</head>
<body>
<table width="100%"><tr><td align="center">/home/wua/Documents/academic/CS2F16/src/someshapes/Triangle.java</td></tr></table>
<pre>
 1 <span class="comment">/*</span>
 2 <span class="comment"> * To change this license header, choose License Headers in Project Properties.</span>
 3 <span class="comment"> * To change this template file, choose Tools | Templates</span>
 4 <span class="comment"> * and open the template in the editor.</span>
 5 <span class="comment"> */</span>
 6 <span class="literal">package</span> someshapes;
 7 
 8 <span class="comment">/**</span>
 9 <span class="comment"> *</span>
10 <span class="comment"> * </span><span class="ST0">@author</span> <span class="comment">wua</span>
11  <span class="comment">*/</span>
12 <span class="literal">public</span> <span class="literal">class</span> <span class="ST1">Triangle</span> <span class="literal">implements</span> TriangleADT {
13     
14     <span class="literal">private</span> <span class="literal">double</span> <span class="ST2">a</span>, <span class="ST2">b</span>, <span class="ST2">c</span>;
15     
16     <span class="literal">public</span> <span class="ST1">Triangle</span>(<span class="literal">double</span> side) {
17         <span class="ST2">a</span> = <span class="ST2">b</span> = <span class="ST2">c</span> = side;
18     }
19     
20     <span class="literal">public</span> <span class="ST1">Triangle</span>(<span class="literal">double</span> a, <span class="literal">double</span> b, <span class="literal">double</span> c) {
21         <span class="literal">this</span>.<span class="ST2">a</span> = a;
22         <span class="literal">this</span>.<span class="ST2">b</span> = b;
23         <span class="literal">this</span>.<span class="ST2">c</span> = c;
24     }
25 
26     @Override
27     <span class="literal">public</span> <span class="literal">double</span> <span class="ST1">perimeter</span>() {
28         <span class="literal">return</span> <span class="ST2">a</span> + <span class="ST2">b</span> + <span class="ST2">c</span>;
29     }
30 
31     @Override
32     <span class="literal">public</span> <span class="literal">double</span> <span class="ST1">area</span>() {
33         <span class="literal">double</span> p = (<span class="ST2">a</span> + <span class="ST2">b</span> + <span class="ST2">c</span>) / 2;
34         <span class="literal">return</span> Math.<span class="ST3">sqrt</span>(p*(p-<span class="ST2">a</span>)*(p-<span class="ST2">b</span>)*(p-<span class="ST2">c</span>));
35     }
36     
37     @Override
38     <span class="literal">public</span> String <span class="ST1">toString</span>() {
39         <span class="literal">return</span> <span class="string">&quot;</span><span class="string">&lt;Triangle with A=</span><span class="string">&quot;</span> + <span class="ST2">a</span> + <span class="string">&quot;</span><span class="string"> B=</span><span class="string">&quot;</span> + <span class="ST2">b</span> + <span class="string">&quot;</span><span class="string"> C=</span><span class="string">&quot;</span> + <span class="ST2">c</span> + <span class="string">&quot;</span><span class="string">&gt;</span><span class="string">&quot;</span>;
40     }
41     
42 }
43 
</pre></body>
</html>
