<html>
  <head>
    <title>BinaryTree - Output</title>
  </head>
  <body>
    <p1>run:<br></p1>
    <p2>
<pre>
        Test 1 LR...
>>> Creating empty tree...
>>> Adding elements to the tree directionally ...
>>> PREORDER
[lion:---]
[elephant:---]
[alligator:---]
[ardvaark:---]
[bear:---]
[giraffe:---]
[shark:---]
[zebra:---]
[tiger:---]
[snake:---]
>>> INORDER
[alligator:---]
[ardvaark:---]
[bear:---]
[elephant:---]
[giraffe:---]
[lion:---]
[shark:---]
[snake:---]
[tiger:---]
[zebra:---]
>>> POSTORDER
[bear:---]
[ardvaark:---]
[alligator:---]
[giraffe:---]
[elephant:---]
[snake:---]
[tiger:---]
[zebra:---]
[shark:---]
[lion:---]
>>> HEIGHT = 5
Test 1 ST...
>>> Creating empty tree...
>>> Adding elements to the binary search tree ...
>>> PREORDER
[lion:---]
[elephant:---]
[alligator:---]
[ardvaark:---]
[bear:---]
[giraffe:---]
[shark:---]
[zebra:---]
[tiger:---]
[snake:---]
>>> INORDER
[alligator:---]
[ardvaark:---]
[bear:---]
[elephant:---]
[giraffe:---]
[lion:---]
[shark:---]
[snake:---]
[tiger:---]
[zebra:---]
>>> POSTORDER
[bear:---]
[ardvaark:---]
[alligator:---]
[giraffe:---]
[elephant:---]
[snake:---]
[tiger:---]
[zebra:---]
[shark:---]
[lion:---]
>>> HEIGHT = 5
Test 1 ND...
>>> Creating empty tree...
>>> Adding elements to the tree randomly ...
>>> PREORDER
[lion:---]
[elephant:---]
[zebra:---]
[ardvaark:---]
[giraffe:---]
[bear:---]
[shark:---]
[alligator:---]
[tiger:---]
[snake:---]
>>> INORDER
[elephant:---]
[ardvaark:---]
[zebra:---]
[giraffe:---]
[bear:---]
[lion:---]
[alligator:---]
[shark:---]
[tiger:---]
[snake:---]
>>> POSTORDER
[ardvaark:---]
[bear:---]
[giraffe:---]
[zebra:---]
[elephant:---]
[alligator:---]
[snake:---]
[tiger:---]
[shark:---]
[lion:---]
>>> HEIGHT = 5
Test 2 LR...
>>> Creating empty tree...
>>> Adding elements to the tree directionally ...
>>> PREORDER
[1.4:---]
[10.12:---]
[0.0:---]
[123213.0123442:---]
[-19.23215:---]
[3.141592:---]
[6.101:---]
[10.0132:---]
[14.0:---]
[199.123:---]
>>> INORDER
[0.0:---]
[123213.0123442:---]
[10.12:---]
[3.141592:---]
[6.101:---]
[-19.23215:---]
[1.4:---]
[199.123:---]
[14.0:---]
[10.0132:---]
>>> POSTORDER
[123213.0123442:---]
[0.0:---]
[6.101:---]
[3.141592:---]
[-19.23215:---]
[10.12:---]
[199.123:---]
[14.0:---]
[10.0132:---]
[1.4:---]
>>> HEIGHT = 5
Test 2 ND...
>>> Creating empty tree...
>>> Adding elements to the tree randomly ...
>>> PREORDER
[1.4:---]
[-19.23215:---]
[6.101:---]
[0.0:---]
[123213.0123442:---]
[199.123:---]
[10.0132:---]
[10.12:---]
[14.0:---]
[3.141592:---]
>>> INORDER
[6.101:---]
[123213.0123442:---]
[0.0:---]
[-19.23215:---]
[199.123:---]
[1.4:---]
[10.12:---]
[10.0132:---]
[14.0:---]
[3.141592:---]
>>> POSTORDER
[123213.0123442:---]
[0.0:---]
[6.101:---]
[199.123:---]
[-19.23215:---]
[10.12:---]
[3.141592:---]
[14.0:---]
[10.0132:---]
[1.4:---]
>>> HEIGHT = 5
Test 2 ST...
>>> Creating empty tree...
>>> Adding elements to the binary search tree ...
>>> PREORDER
[1.4:---]
[-19.23215:---]
[0.0:---]
[10.0132:---]
[3.141592:---]
[6.101:---]
[10.12:---]
[14.0:---]
[199.123:---]
[123213.0123442:---]
>>> INORDER
[-19.23215:---]
[0.0:---]
[1.4:---]
[3.141592:---]
[6.101:---]
[10.0132:---]
[10.12:---]
[14.0:---]
[199.123:---]
[123213.0123442:---]
>>> POSTORDER
[0.0:---]
[-19.23215:---]
[6.101:---]
[3.141592:---]
[123213.0123442:---]
[199.123:---]
[14.0:---]
[10.12:---]
[10.0132:---]
[1.4:---]</pre>
    </p2>
    <p3><br>BUILD SUCCESSFUL (total time: 0 seconds)</p3>
    <style>
    p1 {
      color: gray;
    } p2 {
      color: black;
    } p3 {
      color: #50D050;
    }
    </style>
  </body>
</html>
