<html>
  <head>
    <title>FrequencyCounterTrees - Output</title>
  </head>
  <body>
    <p1>run:<br></p1>
    <p1>
<pre>run:
>>> Filename? always_lyrics.txt
[Blink:4]
[But:2]
[Calling:3]
[Falling:3]
[I:1]
[Ill:1]
[Im:7]
[In:2]
[It:5]
[Just:1]
[Leave:1]
[Like:1]
[Lonely:1]
[My:1]
[Now:3]
[Oh:1]
[On:1]
[Put:1]
[That:1]
[When:1]
[You:1]
[a:5]
[alone:1]
[always:8]
[and:2]
[apart:1]
[are:1]
[at:3]
[back:5]
[bad:1]
[be:1]
[blinking:3]
[bone:1]
[card:1]
[castles:1]
[could:1]
[dead:1]
[end:3]
[fine:1]
[fly:1]
[for:6]
[get:1]
[gets:1]
[glue:1]
[heavy:1]
[it:1]
[kid:1]
[king:1]
[know:4]
[let:4]
[levy:1]
[life:1]
[light:3]
[little:1]
[lonely:1]
[me:12]
[my:1]
[myself:1]
[of:3]
[on:1]
[outside:1]
[road:3]
[rusty:1]
[says:1]
[siege:1]
[sign:1]
[skin:1]
[spiders:1]
[taking:1]
[that:2]
[thats:1]
[the:12]
[theres:3]
[thinking:2]
[throne:1]
[time:3]
[to:4]
[too:1]
[trapped:1]
[under:1]
[was:5]
[web:1]
[well:1]
[world:1]
[you:5]
[your:1]
</pre>
    </p1>
    <p1>Always_Lyrics.txt</p1>
<p2>
When the world gets too heavy
Put it on my back
Ill be your levy
You are taking me apart
Like bad glue
On a get well card

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know

Im a fly thats trapped
In a web
But Im thinking that
My spiders dead
Lonely lonely little life
I could kid myself
In thinking that Im fine

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know

That Im skin and bone
Just a king and a rusty throne
Oh the castles under siege
But the sign outside says Leave me alone

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know
It was always you
Blink back to let me know
It was always you
</p2>
    <p3><br>BUILD SUCCESSFUL (total time: 7 seconds)</p3>
    <style>
    p1 {
      color: gray;
    } p2 {
      color: black;
    } p3 {
      color: #50D050;
    }
    </style>
  </body>
</html>
