<html>
  <head>
    <title>LongerWords - Output</title>
  </head>
  <body>
<pre>
<p1>run:</p1><p2>
Please enter a sentance: Beat backbones Grazed the poem and made it strange I wasnt born to be a skeleton
The longer words:
backbones
Grazed
strange
wasnt
skeleton
</p2>
<p3>BUILD SUCCESSFUL (total time: 4 seconds)</p3>


<p1>run:</p1><p2>
Please enter a sentance: Shes got the whole wide world in her hands
The longer words:
Shes
whole
wide
world
hands
</p2>
<p3>BUILD SUCCESSFUL (total time: 5 seconds)</p3>


<p1>run:</p1><p2>
Please enter a sentance: She peels an orange for us in the morning
She woke me up to give me half
The longer words:
peels
orange
morning
</p2>
<p3>BUILD SUCCESSFUL (total time: 5 seconds)</p3>

<style>
p1 {
  color: gray;
} p2 {
  color: black;
} p3 {
  color: #50D050;
}
</style>
</pre>
  </body>
</html>
