<html>
  <head>
    <title>LongestWord - Output</title>
  </head>
  <body>
<pre>
<p1>run:</p1><p2>
Please enter a sentance: you just sort of wasted my precious time
The longest word is "precious"
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>


<p1>run:</p1><p2>
Please enter a sentance: black as hell strong as death and sweet as love
The longest word is "strong"
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>


<p1>run:</p1><p2>
Please enter a sentance: one two three four five six seven eight nine ten eleven
The longest word is "eleven"
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>


<p1>run:</p1><p2>
Please enter a sentance: Each Papa Johns pizza is carefully crafted with flavorful superior quality ingredients and toppings
The longest word is "ingredients"
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>
<style>
p1 {
  color: gray;
} p2 {
  color: black;
} p3 {
  color: #50D050;
}
</style>
</pre>
  </body>
</html>
