<html>
  <head>
    <title>MultiwaySort - Output</title>
  </head>
  <body>
<pre>

<p1>Always_Lyrics.txt</p1>
<p2>
When the world gets too heavy
Put it on my back
Ill be your levy
You are taking me apart
Like bad glue
On a get well card

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know

Im a fly thats trapped
In a web
But Im thinking that
My spiders dead
Lonely lonely little life
I could kid myself
In thinking that Im fine

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know

That Im skin and bone
Just a king and a rusty throne
Oh the castles under siege
But the sign outside says Leave me alone

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know
It was always you
Blink back to let me know
It was always you
</p2>
<p1>run:</p1><p2>
<pre>Filename? 
always_lyrics.txt
Words before the pass...

	|           when|
	|            the|
	|          world|
	|           gets|
	|            too|
	|          heavy|
	|            put|
	|             it|
	|             on|
	|             my|
	|           back|
	|            ill|
	|             be|
	|           your|
	|           levy|
	|            you|
	|            are|
	|         taking|
	|             me|
	|          apart|
	|           like|
	|            bad|
	|           glue|
	|             on|
	|              a|
	|            get|
	|           well|
	|           card|
	|             it|
	|            was|
	|         always|
	|            you|
	|        falling|
	|            for|
	|             me|
	|            now|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|       blinking|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|           road|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             im|
	|              a|
	|            fly|
	|          thats|
	|        trapped|
	|             in|
	|              a|
	|            web|
	|            but|
	|             im|
	|       thinking|
	|           that|
	|             my|
	|        spiders|
	|           dead|
	|         lonely|
	|         lonely|
	|         little|
	|           life|
	|              i|
	|          could|
	|            kid|
	|         myself|
	|             in|
	|       thinking|
	|           that|
	|             im|
	|           fine|
	|             it|
	|            was|
	|         always|
	|            you|
	|        falling|
	|            for|
	|             me|
	|            now|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|       blinking|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|           road|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|           that|
	|             im|
	|           skin|
	|            and|
	|           bone|
	|           just|
	|              a|
	|           king|
	|            and|
	|              a|
	|          rusty|
	|         throne|
	|             oh|
	|            the|
	|        castles|
	|          under|
	|          siege|
	|            but|
	|            the|
	|           sign|
	|        outside|
	|           says|
	|          leave|
	|             me|
	|          alone|
	|             it|
	|            was|
	|         always|
	|            you|
	|        falling|
	|            for|
	|             me|
	|            now|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|       blinking|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|           road|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
	|         always|
	|            you|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
	|         always|
	|            you|
Contents of queues
Queue #0
	|             my|
	|            fly|
	|             my|
Queue #1
	|           when|
	|            the|
	|          world|
	|           gets|
	|            put|
	|             it|
	|             on|
	|           back|
	|            ill|
	|             be|
	|           levy|
	|             me|
	|            bad|
	|             on|
	|              a|
	|            get|
	|           well|
	|           card|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             im|
	|              a|
	|          thats|
	|             in|
	|              a|
	|            web|
	|            but|
	|             im|
	|           that|
	|              i|
	|            kid|
	|         myself|
	|             in|
	|           that|
	|             im|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|           that|
	|             im|
	|           skin|
	|            and|
	|           just|
	|              a|
	|           king|
	|            and|
	|              a|
	|          rusty|
	|             oh|
	|            the|
	|            but|
	|            the|
	|           sign|
	|           says|
	|             me|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
Queue #2
	|            too|
	|          heavy|
	|           your|
	|            you|
	|            are|
	|         taking|
	|          apart|
	|           like|
	|           glue|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|        trapped|
	|       thinking|
	|        spiders|
	|           dead|
	|         lonely|
	|         lonely|
	|         little|
	|           life|
	|          could|
	|       thinking|
	|           fine|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|           bone|
	|         throne|
	|        castles|
	|          under|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|         always|
	|            you|
	|         always|
	|            you|
Queue #3
	|          siege|
	|          leave|
	|          alone|
Queue #4
	|        outside|
Words after the pass...

	|             my|
	|            fly|
	|             my|
	|           when|
	|            the|
	|          world|
	|           gets|
	|            put|
	|             it|
	|             on|
	|           back|
	|            ill|
	|             be|
	|           levy|
	|             me|
	|            bad|
	|             on|
	|              a|
	|            get|
	|           well|
	|           card|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             im|
	|              a|
	|          thats|
	|             in|
	|              a|
	|            web|
	|            but|
	|             im|
	|           that|
	|              i|
	|            kid|
	|         myself|
	|             in|
	|           that|
	|             im|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|           that|
	|             im|
	|           skin|
	|            and|
	|           just|
	|              a|
	|           king|
	|            and|
	|              a|
	|          rusty|
	|             oh|
	|            the|
	|            but|
	|            the|
	|           sign|
	|           says|
	|             me|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
	|            too|
	|          heavy|
	|           your|
	|            you|
	|            are|
	|         taking|
	|          apart|
	|           like|
	|           glue|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|        trapped|
	|       thinking|
	|        spiders|
	|           dead|
	|         lonely|
	|         lonely|
	|         little|
	|           life|
	|          could|
	|       thinking|
	|           fine|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|           bone|
	|         throne|
	|        castles|
	|          under|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|         always|
	|            you|
	|         always|
	|            you|
	|          siege|
	|          leave|
	|          alone|
	|        outside|
Words before the pass...

	|             my|
	|            fly|
	|             my|
	|           when|
	|            the|
	|          world|
	|           gets|
	|            put|
	|             it|
	|             on|
	|           back|
	|            ill|
	|             be|
	|           levy|
	|             me|
	|            bad|
	|             on|
	|              a|
	|            get|
	|           well|
	|           card|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             im|
	|              a|
	|          thats|
	|             in|
	|              a|
	|            web|
	|            but|
	|             im|
	|           that|
	|              i|
	|            kid|
	|         myself|
	|             in|
	|           that|
	|             im|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|           that|
	|             im|
	|           skin|
	|            and|
	|           just|
	|              a|
	|           king|
	|            and|
	|              a|
	|          rusty|
	|             oh|
	|            the|
	|            but|
	|            the|
	|           sign|
	|           says|
	|             me|
	|             it|
	|            was|
	|            for|
	|             me|
	|            now|
	|            for|
	|             me|
	|             im|
	|            the|
	|          light|
	|             at|
	|            the|
	|            end|
	|             of|
	|            the|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
	|          blink|
	|           back|
	|             to|
	|            let|
	|             me|
	|           know|
	|             it|
	|            was|
	|            too|
	|          heavy|
	|           your|
	|            you|
	|            are|
	|         taking|
	|          apart|
	|           like|
	|           glue|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|        trapped|
	|       thinking|
	|        spiders|
	|           dead|
	|         lonely|
	|         lonely|
	|         little|
	|           life|
	|          could|
	|       thinking|
	|           fine|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|           bone|
	|         throne|
	|        castles|
	|          under|
	|         always|
	|            you|
	|        falling|
	|         theres|
	|         always|
	|           time|
	|        calling|
	|       blinking|
	|           road|
	|         always|
	|            you|
	|         always|
	|            you|
	|          siege|
	|          leave|
	|          alone|
	|        outside|
Contents of queues
Queue #0
Queue #1
	|              a|
	|              a|
	|              a|
	|              i|
	|              a|
	|              a|
Queue #2
	|             my|
	|             my|
	|             it|
	|             on|
	|             be|
	|             me|
	|             on|
	|             it|
	|             me|
	|             me|
	|             im|
	|             at|
	|             of|
	|             to|
	|             me|
	|             im|
	|             in|
	|             im|
	|             in|
	|             im|
	|             it|
	|             me|
	|             me|
	|             im|
	|             at|
	|             of|
	|             to|
	|             me|
	|             im|
	|             oh|
	|             me|
	|             it|
	|             me|
	|             me|
	|             im|
	|             at|
	|             of|
	|             to|
	|             me|
	|             it|
	|             to|
	|             me|
	|             it|
Queue #3
	|            fly|
	|            the|
	|            put|
	|            ill|
	|            bad|
	|            get|
	|            was|
	|            for|
	|            now|
	|            for|
	|            the|
	|            the|
	|            end|
	|            the|
	|            let|
	|            web|
	|            but|
	|            kid|
	|            was|
	|            for|
	|            now|
	|            for|
	|            the|
	|            the|
	|            end|
	|            the|
	|            let|
	|            and|
	|            and|
	|            the|
	|            but|
	|            the|
	|            was|
	|            for|
	|            now|
	|            for|
	|            the|
	|            the|
	|            end|
	|            the|
	|            let|
	|            was|
	|            let|
	|            was|
	|            too|
	|            you|
	|            are|
	|            you|
	|            you|
	|            you|
	|            you|
	|            you|
Queue #4
	|           when|
	|           gets|
	|           back|
	|           levy|
	|           well|
	|           card|
	|           back|
	|           know|
	|           that|
	|           that|
	|           back|
	|           know|
	|           that|
	|           skin|
	|           just|
	|           king|
	|           sign|
	|           says|
	|           back|
	|           know|
	|           back|
	|           know|
	|           your|
	|           like|
	|           glue|
	|           time|
	|           road|
	|           dead|
	|           life|
	|           fine|
	|           time|
	|           road|
	|           bone|
	|           time|
	|           road|
Queue #5
	|          world|
	|          light|
	|          blink|
	|          thats|
	|          light|
	|          blink|
	|          rusty|
	|          light|
	|          blink|
	|          blink|
	|          heavy|
	|          apart|
	|          could|
	|          under|
	|          siege|
	|          leave|
	|          alone|
Queue #6
	|         myself|
	|         taking|
	|         always|
	|         theres|
	|         always|
	|         lonely|
	|         lonely|
	|         little|
	|         always|
	|         theres|
	|         always|
	|         throne|
	|         always|
	|         theres|
	|         always|
	|         always|
	|         always|
Queue #7
	|        falling|
	|        calling|
	|        trapped|
	|        spiders|
	|        falling|
	|        calling|
	|        castles|
	|        falling|
	|        calling|
	|        outside|
Queue #8
	|       blinking|
	|       thinking|
	|       thinking|
	|       blinking|
	|       blinking|
Queue #9
Queue #10
Words after the pass...

	|              a|
	|              a|
	|              a|
	|              i|
	|              a|
	|              a|
	|             my|
	|             my|
	|             it|
	|             on|
	|             be|
	|             me|
	|             on|
	|             it|
	|             me|
	|             me|
	|             im|
	|             at|
	|             of|
	|             to|
	|             me|
	|             im|
	|             in|
	|             im|
	|             in|
	|             im|
	|             it|
	|             me|
	|             me|
	|             im|
	|             at|
	|             of|
	|             to|
	|             me|
	|             im|
	|             oh|
	|             me|
	|             it|
	|             me|
	|             me|
	|             im|
	|             at|
	|             of|
	|             to|
	|             me|
	|             it|
	|             to|
	|             me|
	|             it|
	|            fly|
	|            the|
	|            put|
	|            ill|
	|            bad|
	|            get|
	|            was|
	|            for|
	|            now|
	|            for|
	|            the|
	|            the|
	|            end|
	|            the|
	|            let|
	|            web|
	|            but|
	|            kid|
	|            was|
	|            for|
	|            now|
	|            for|
	|            the|
	|            the|
	|            end|
	|            the|
	|            let|
	|            and|
	|            and|
	|            the|
	|            but|
	|            the|
	|            was|
	|            for|
	|            now|
	|            for|
	|            the|
	|            the|
	|            end|
	|            the|
	|            let|
	|            was|
	|            let|
	|            was|
	|            too|
	|            you|
	|            are|
	|            you|
	|            you|
	|            you|
	|            you|
	|            you|
	|           when|
	|           gets|
	|           back|
	|           levy|
	|           well|
	|           card|
	|           back|
	|           know|
	|           that|
	|           that|
	|           back|
	|           know|
	|           that|
	|           skin|
	|           just|
	|           king|
	|           sign|
	|           says|
	|           back|
	|           know|
	|           back|
	|           know|
	|           your|
	|           like|
	|           glue|
	|           time|
	|           road|
	|           dead|
	|           life|
	|           fine|
	|           time|
	|           road|
	|           bone|
	|           time|
	|           road|
	|          world|
	|          light|
	|          blink|
	|          thats|
	|          light|
	|          blink|
	|          rusty|
	|          light|
	|          blink|
	|          blink|
	|          heavy|
	|          apart|
	|          could|
	|          under|
	|          siege|
	|          leave|
	|          alone|
	|         myself|
	|         taking|
	|         always|
	|         theres|
	|         always|
	|         lonely|
	|         lonely|
	|         little|
	|         always|
	|         theres|
	|         always|
	|         throne|
	|         always|
	|         theres|
	|         always|
	|         always|
	|         always|
	|        falling|
	|        calling|
	|        trapped|
	|        spiders|
	|        falling|
	|        calling|
	|        castles|
	|        falling|
	|        calling|
	|        outside|
	|       blinking|
	|       thinking|
	|       thinking|
	|       blinking|
	|       blinking|
a
a
a
i
a
a
my
my
it
on
be
me
on
it
me
me
im
at
of
to
me
im
in
im
in
im
it
me
me
im
at
of
to
me
im
oh
me
it
me
me
im
at
of
to
me
it
to
me
it
fly
the
put
ill
bad
get
was
for
now
for
the
the
end
the
let
web
but
kid
was
for
now
for
the
the
end
the
let
and
and
the
but
the
was
for
now
for
the
the
end
the
let
was
let
was
too
you
are
you
you
you
you
you
when
gets
back
levy
well
card
back
know
that
that
back
know
that
skin
just
king
sign
says
back
know
back
know
your
like
glue
time
road
dead
life
fine
time
road
bone
time
road
world
light
blink
thats
light
blink
rusty
light
blink
blink
heavy
apart
could
under
siege
leave
alone
myself
taking
always
theres
always
lonely
lonely
little
always
theres
always
throne
always
theres
always
always
always
falling
calling
trapped
spiders
falling
calling
castles
falling
calling
outside
blinking
thinking
thinking
blinking
blinking
</pre>
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>

<p1>Success_is_Counted_Sweetest.txt</p1>
<p2>
Success is counted sweetest
By those who ne er succeed
To comprehend a nectar
Requires sorest need

Not one of all the purple Host
Who took the Flag Today
Can tell the definition
So clear of victory
As he defeated dying
On whose forbidden ear
The distant strains of triumph
Burst agonized and clear
</p2>
<p1>run:</p1><p2>
<pre>Filename? 
Success_is_Counted_Sweetest.txt
Words before the pass...

	|        success|
	|             is|
	|        counted|
	|       sweetest|
	|             by|
	|          those|
	|            who|
	|             ne|
	|             er|
	|        succeed|
	|             to|
	|     comprehend|
	|              a|
	|         nectar|
	|       requires|
	|         sorest|
	|           need|
	|            not|
	|            one|
	|             of|
	|            all|
	|            the|
	|         purple|
	|           host|
	|            who|
	|           took|
	|            the|
	|           flag|
	|          today|
	|            can|
	|           tell|
	|            the|
	|     definition|
	|             so|
	|          clear|
	|             of|
	|        victory|
	|             as|
	|             he|
	|       defeated|
	|          dying|
	|             on|
	|          whose|
	|      forbidden|
	|            ear|
	|            the|
	|        distant|
	|        strains|
	|             of|
	|        triumph|
	|          burst|
	|       agonized|
	|            and|
	|          clear|
Contents of queues
Queue #0
	|             by|
Queue #1
	|             is|
	|            who|
	|             ne|
	|             er|
	|             to|
	|              a|
	|            not|
	|             of|
	|            all|
	|            the|
	|           host|
	|            who|
	|            the|
	|           flag|
	|            can|
	|           tell|
	|            the|
	|             so|
	|             of|
	|             as|
	|             he|
	|          dying|
	|             on|
	|            the|
	|             of|
	|          burst|
	|            and|
Queue #2
	|        success|
	|          those|
	|         nectar|
	|         sorest|
	|           need|
	|            one|
	|         purple|
	|           took|
	|          today|
	|          clear|
	|        victory|
	|          whose|
	|            ear|
	|        distant|
	|        strains|
	|        triumph|
	|          clear|
Queue #3
	|        counted|
	|       sweetest|
	|        succeed|
	|     comprehend|
	|      forbidden|
Queue #4
	|       requires|
	|       defeated|
	|       agonized|
Queue #5
	|     definition|
Queue #6
Queue #7
Words after the pass...

	|             by|
	|             is|
	|            who|
	|             ne|
	|             er|
	|             to|
	|              a|
	|            not|
	|             of|
	|            all|
	|            the|
	|           host|
	|            who|
	|            the|
	|           flag|
	|            can|
	|           tell|
	|            the|
	|             so|
	|             of|
	|             as|
	|             he|
	|          dying|
	|             on|
	|            the|
	|             of|
	|          burst|
	|            and|
	|        success|
	|          those|
	|         nectar|
	|         sorest|
	|           need|
	|            one|
	|         purple|
	|           took|
	|          today|
	|          clear|
	|        victory|
	|          whose|
	|            ear|
	|        distant|
	|        strains|
	|        triumph|
	|          clear|
	|        counted|
	|       sweetest|
	|        succeed|
	|     comprehend|
	|      forbidden|
	|       requires|
	|       defeated|
	|       agonized|
	|     definition|
Words before the pass...

	|             by|
	|             is|
	|            who|
	|             ne|
	|             er|
	|             to|
	|              a|
	|            not|
	|             of|
	|            all|
	|            the|
	|           host|
	|            who|
	|            the|
	|           flag|
	|            can|
	|           tell|
	|            the|
	|             so|
	|             of|
	|             as|
	|             he|
	|          dying|
	|             on|
	|            the|
	|             of|
	|          burst|
	|            and|
	|        success|
	|          those|
	|         nectar|
	|         sorest|
	|           need|
	|            one|
	|         purple|
	|           took|
	|          today|
	|          clear|
	|        victory|
	|          whose|
	|            ear|
	|        distant|
	|        strains|
	|        triumph|
	|          clear|
	|        counted|
	|       sweetest|
	|        succeed|
	|     comprehend|
	|      forbidden|
	|       requires|
	|       defeated|
	|       agonized|
	|     definition|
Contents of queues
Queue #0
Queue #1
	|              a|
Queue #2
	|             by|
	|             is|
	|             ne|
	|             er|
	|             to|
	|             of|
	|             so|
	|             of|
	|             as|
	|             he|
	|             on|
	|             of|
Queue #3
	|            who|
	|            not|
	|            all|
	|            the|
	|            who|
	|            the|
	|            can|
	|            the|
	|            the|
	|            and|
	|            one|
	|            ear|
Queue #4
	|           host|
	|           flag|
	|           tell|
	|           need|
	|           took|
Queue #5
	|          dying|
	|          burst|
	|          those|
	|          today|
	|          clear|
	|          whose|
	|          clear|
Queue #6
	|         nectar|
	|         sorest|
	|         purple|
Queue #7
	|        success|
	|        victory|
	|        distant|
	|        strains|
	|        triumph|
	|        counted|
	|        succeed|
Queue #8
	|       sweetest|
	|       requires|
	|       defeated|
	|       agonized|
Queue #9
	|      forbidden|
Queue #10
	|     comprehend|
	|     definition|
Queue #11
Queue #12
Words after the pass...

	|              a|
	|             by|
	|             is|
	|             ne|
	|             er|
	|             to|
	|             of|
	|             so|
	|             of|
	|             as|
	|             he|
	|             on|
	|             of|
	|            who|
	|            not|
	|            all|
	|            the|
	|            who|
	|            the|
	|            can|
	|            the|
	|            the|
	|            and|
	|            one|
	|            ear|
	|           host|
	|           flag|
	|           tell|
	|           need|
	|           took|
	|          dying|
	|          burst|
	|          those|
	|          today|
	|          clear|
	|          whose|
	|          clear|
	|         nectar|
	|         sorest|
	|         purple|
	|        success|
	|        victory|
	|        distant|
	|        strains|
	|        triumph|
	|        counted|
	|        succeed|
	|       sweetest|
	|       requires|
	|       defeated|
	|       agonized|
	|      forbidden|
	|     comprehend|
	|     definition|
a
by
is
ne
er
to
of
so
of
as
he
on
of
who
not
all
the
who
the
can
the
the
and
one
ear
host
flag
tell
need
took
dying
burst
those
today
clear
whose
clear
nectar
sorest
purple
success
victory
distant
strains
triumph
counted
succeed
sweetest
requires
defeated
agonized
forbidden
comprehend
definition
</pre>
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>

<style>
p1 {
  color: gray;
} p2 {
  color: black;
} p3 {
  color: #50D050;
}
</style>
</pre>
  </body>
</html>
