<html>
  <head>
    <title>LongestWords - Output</title>
  </head>
  <body>
<pre>

<p1>Always_Lyrics.txt</p1>
<p2>
When the world gets too heavy
Put it on my back
Ill be your levy
You are taking me apart
Like bad glue
On a get well card

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know

Im a fly thats trapped
In a web
But Im thinking that
My spiders dead
Lonely lonely little life
I could kid myself
In thinking that Im fine

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know

That Im skin and bone
Just a king and a rusty throne
Oh the castles under siege
But the sign outside says Leave me alone

It was always you
Falling for me
Now theres always time
Calling for me
Im the light blinking at the end of the road
Blink back to let me know
It was always you
Blink back to let me know
It was always you
</p2>
<p1>run:</p1><p2>
When
world
gets
heavy
back
your
levy
taking
apart
Like
glue
well
card
always
Falling
theres
always
time
Calling
light
blinking
road
Blink
back
know
thats
trapped
thinking
that
spiders
dead
Lonely
lonely
little
life
could
myself
thinking
that
fine
always
Falling
theres
always
time
Calling
light
blinking
road
Blink
back
know
That
skin
bone
Just
king
rusty
throne
castles
under
siege
sign
outside
says
Leave
alone
always
Falling
theres
always
time
Calling
light
blinking
road
Blink
back
know
always
Blink
back
know
always
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>

<p1>Success_is_Counted_Sweetest.txt</p1>
<p2>
Success is counted sweetest
By those who ne er succeed
To comprehend a nectar
Requires sorest need

Not one of all the purple Host
Who took the Flag Today
Can tell the definition
So clear of victory
As he defeated dying
On whose forbidden ear
The distant strains of triumph
Burst agonized and clear
</p2>
<p1>run:</p1><p2>
Success
counted
sweetest
those
succeed
comprehend
nectar
Requires
sorest
purple
Today
definition
clear
victory
defeated
dying
whose
forbidden
distant
strains
triumph
Burst
agonized
clear
</p2>
<p3>BUILD SUCCESSFUL (total time: 0 seconds)</p3>

<style>
p1 {
  color: gray;
} p2 {
  color: black;
} p3 {
  color: #50D050;
}
</style>
</pre>
  </body>
</html>
